<a href="https://colab.research.google.com/github/SoulInfinity/Python_Basics/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                            **Lambda Function Demonstration**

In [2]:
d = lambda a,b : a-b

In [4]:
s = lambda a,b : a+b
s(3,4)

7

In [6]:
n = 4
thrice = lambda n : n * 3
thrice(3)

9

In [8]:
square = lambda n : n * n
square(10)

100

In [18]:
import math
squareroot = lambda n : math.sqrt(n)
squareroot(100)

10.0

In [9]:
sum = lambda a,b,c : a+b+c
sum(2,3,4)

9

In [13]:
l = lambda m,x,c : m*x + c
l(2,4,4)

12

In [17]:
area = lambda l,b : (l * b, 2*(l+b))
area(2,5)

(10, 14)

In [20]:
lbig = lambda a , b : a if a > b else b
lbig(4,10)

10

In [23]:
k = lambda a , b : print("A is greater than b") if a > b else print("B is greater than A")
k(20,30)

B is greater than A

In [26]:
str = lambda x : True if x.startswith('p') else False
str('python')
str('hello')

False

In [28]:
#write a python program to sort a list of tuples using lambda function
# sample input --[('English', 88), ('science', 90), ('maths', 97), ('social science', 82)]
# sample output --[('social science', 82), ('English', 88), ('science', 90), ('maths', 97)]
list_of_tuples = [('English', 88), ('science', 90), ('maths', 97), ('social science', 82)]
sorted_list = sorted(list_of_tuples, key=lambda x: x[1])
print("Sorted list of tuples:", sorted_list)

Sorted list of tuples: [('social science', 82), ('English', 88), ('science', 90), ('maths', 97)]